@model MultiPlug.Base.Http.EdgeApp

<div class="row-fluid">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#events-subs">Extensions</a></li>
        <li><a href="#mappings">Mappings</a></li>
    </ul>
</div>

<div class="box">
    <div id="myTabContent" class="tab-content" style="margin-bottom: 10px">
        <div class="tab-pane fade in active" id="events-subs">
            <p>Events, Subscriptions and Web Apps of the Extensions</p>
            <div id="jstree">
                <ul>
                    @foreach (var Extension in @Model.Extension.Model.Extensions)
                    {
                        <li>
                            @Extension.Name
                            <ul>
                                <li>
                                    Events (@Extension.Events.Count)
                                    <ul>
                                        @foreach (var Event in Extension.Events)
                                        {
                                            <li>
                                                ID: @Event.Id
                                                <ul>
                                                    <li>Guid: @Event.Guid</li>
                                                    <li>Description: @Event.Description</li>

                                                    <li>
                                                        Subjects (@Event.Subjects.Length)
                                                        <ul>
                                                        @foreach (var Subject in Event.Subjects)
                                                        {
                                                            <li>@Subject</li>
                                                        }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>

                                <li>
                                    Subscriptions (@Extension.Subscriptions.Count)
                                    <ul>
                                        @foreach (var Subscription in Extension.Subscriptions)
                                        {
                                            <li>
                                                ID: @Subscription.Id
                                                <ul>
                                                    <li>Guid: @Subscription.Guid</li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>

                                <li>
                                    Apps (@Extension.Apps.Count)
                                    <ul>
                                        @foreach (var App in Extension.Apps)
                                        {
                                            <li>
                                                @App.Name (@App.ViewType)
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>

        </div>

        <div class="tab-pane fade" id="mappings">
            <div class="row-fluid">
                <p>Mappings of Events to Subscriptions</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Event ID</th>
                            <th>Producer</th>
                            <th>Consumer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in @Model.Extension.Model.EventMappings)
                        {
                            <tr>
                                <td>@e.Id</td>
                                <td>@e.EventSourceExtension</td>
                                <td>@e.EventHandlerExtension</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<link rel="stylesheet" href="assets/mplib/styles/jstree.style.min.css" />
<script src="assets/mplib/scripts/jstree.min.js"></script>

<script>

    $('#jstree').jstree();

    $('#myTab a').click(function (e)
    {
        e.preventDefault();
            $(this).tab('show');
    })

</script>



