@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<style>
    .setting-heading h2 {
        margin-left: 0.1em;
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>

<div class="setting-heading">
    <h2><i class="icon-tasks"></i>&nbsp;System Overview</h2>
</div>

@if (Model.Extension.Model.UpdatePending)
{
    <div class="alert">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Updates Pending</strong> Restart the system to apply pending updates.
    </div>
}

<div class="box">
    <div class="row-fluid">
        <table class="table table-condensed" id="bindings-table">
            <tbody>
                <tr>
                    <th>System</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Version</td>
                    <td>@Model.Extension.Model.Version <a href="/settings/update/">Update</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Licensee</td>
                    <td>@Model.Extension.Model.Licensee <a href="/multiplug/setup/">Change</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th><a href="/settings/environment/">Environment</a></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/environment/">Logging</a></td>
                    <td>
                        @foreach (var x in @Model.Extension.Model.LoggingLevel)
                        {
                            if (x.Value)
                            { @x.Key }
                        }
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/Performance/">Internet</a></td>
                    <td>@Raw(Model.MultiPlugAPI.Environment.InternetConnection ? "Connected" : "Not Connected")</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th><a href="/settings/apps/">Apps</a></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/apps/">Default App</a></td>
                    <td>
                        @foreach (var x in @Model.Extension.Model.Dashboards)
                        {
                            if (x.Value){ @x.Key }
                        }
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th><a href="/settings/hosting/">Hosting</a></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/hosting/">Host by IP</a></td>
                    <td>
                        @if (Model.Extension.Model.HostByIP)
                    { <text> <i class="icon-ok"></i> </text> }
                    else
                    { <text> <i class="icon-remove"></i> </text> }</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/hosting/">Host Port</a></td>
                    <td>@Model.Extension.Model.HostByIPPort</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/hosting/">Secure</a></td>
                    <td>
                        @if (Model.Extension.Model.HostByIPSecure)
                    { <text> <i class="icon-ok"></i> </text> }
                    else
                    { <text> <i class="icon-remove"></i> </text> }</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="/settings/hosting/">Hosting</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            @foreach (var Binding in @Model.Extension.Model.HostBindings)
            {
                <tr>
                    <td></td>
                    <td>@Binding</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

                <tr>
                    <th><a href="/settings/extensions/">Extensions</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th>Assembly Name</th>
                    <th>Version</th>
                    <th>Friendly Name</th>
                    <th>Enabled</th>
                    <th>Loaded</th>
                </tr>

            @foreach (var x in @Model.Extension.Model.ExtensionStatuses)
            {
                <tr>
                    <td>@x.AssemblyName</td>
                    <td>@x.AssemblyVersion</td>
                    <td>@x.FriendlyName</td>
                    <td>@if (x.Enabled)
                    { <text> <i class="icon-ok"></i> </text> }</td>
                    <td>
                        @if (x.Loaded){ <text> <i class="icon-ok"></i> </text> }
                        @if (!x.Loaded && x.Enabled){ <text> <i class="icon-exclamation-sign"></i> </text> }
                        @if (!x.Loaded && !x.Enabled){ <text> <i class="icon-pause"></i> </text> }</td>
                </tr>
            }

                <tr>
                    <th><a href="/settings/recipes/">Recipe Configurators</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th>Assembly</th>
                    <th>Order</th>
                    <th>Load</th>
                    <th>Save</th>
                    <th>Wait to start</th>
                </tr>

            @foreach (var x in @Model.Extension.Model.Configurators)
            {
                <tr>
                    <td>@x.Assembly</td>
                    <td>@x.Order</td>
                    <td>@if (x.EnabledLoad){ <text> <i class="icon-ok"></i> </text> }</td>
                    <td>@if (x.EnabledSave){ <text> <i class="icon-ok"></i> </text> }</td>
                    <td>@if (x.WaitForStart){ <text> <i class="icon-ok"></i> </text> }</td>
                </tr>
            }

                <tr>
                    <th><a href="/settings/security/">Security</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th><a href="/settings/Performance/">Performance</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th><a href="/settings/housekeeping/">Housekeeping</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<script>
    $('#cancel-btn').click(function () {
        location.reload();
    });

    var oldStartupTime = "";

    $('#restart-btn').click(function () {
        $("#restart-btn").hide();
        $("#cancel-restart-btn").hide();
        $("#x-restart-btn").hide();
        $("#restart-title").text("System Restarting...");
        $("#restart-txt-line2").text($("#restart-txt-line1").text());
        $("#restart-txt-line1").text("The system is restarting, please wait.");

        $.get("/multiplug/status/", function (data) {
            oldStartupTime = data.startuptime;
            $.post("", $("#restart-form").serialize());
            check();
        });
    });

    $('#shutdown-btn').click(function () {
        $("#shutdown-btn").hide();
        $("#cancel-shutdown-btn").hide();
        $("#x-shutdown-btn").hide();
        $("#shutdown-title").text("System Shutdown...");
        $("#shutdown-txt-line1").text("The system is shutting down.");
        $("#shutdown-txt-line2").text("");
        $.post("", $("#shutdown-form").serialize());
    });

    function check()
    {
        $.get("/multiplug/status/", function (data) {
            if( data.startuptime != null && data.startuptime != oldStartupTime)
            {
                location.reload();
            }
            else
            {
                setTimeout(check, 1000);
            }
        })
          .fail(function () {
              setTimeout(check, 1000);
          });
    }

</script>

