@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<style>
    .setting-heading img,
    .setting-heading h2 {
        display: inline-block;
        vertical-align: middle;
    }

    .setting-heading img {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    .setting-heading h2 {
        margin-left: 0.1em;
    }
</style>

<div class="setting-heading">
    <h2>Housekeeping</h2>
</div>

<h3 class="box-header">
    Storage
</h3>
<div class="box">
    <div class="row-fluid">
        <a href="/settings/housekeeping/storage/" class="btn btn-blue">Log files</a>
    </div>
</div>


<h3 class="box-header">
    Memory
</h3>
<div class="box">
    <div class="row-fluid">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Assembly</th>
                    <th>Extension</th>
                    <th>Disk Size (MB)</th>
                    <th>Current Memory (bytes)</th>
                    <th>Lifetime Allocated (bytes)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in @Model.Extension.Model.ExtensionResourceUsages)
                {
                    <tr>
                        <td>@x.AssemblyName</td>
                        <td>@x.FriendlyName</td>
                        <td>@x.DiskSize</td>
                        <td>@x.Memory</td>
                        <td>@x.MemoryAllocated</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
